<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halfsummer.sys.mapper.DoctorMapper">

    <select id="getdoctorList" resultType="com.halfsummer.sys.vo.DoctorVo" parameterType="com.halfsummer.sys.vo.DoctorVo">
        SELECT
            u.user_id departmentId,
            u.user_name departmentName,
            d.department_name departmentProfile,
            o.outpatient_date outpatientDate,
            o.outpatient_id outpatientNumber,
            o.current_num reservationNumber
        FROM
            t_sys_user u
            LEFT JOIN t_sys_outpatient o ON u.user_id = o.doctor_id
            LEFT JOIN t_sys_department d ON u.department_id = d.department_id
        WHERE
            u.role_code = '2'
        <where>
            <if test="departmentName!='' and departmentName!=null">
                AND
                u.user_name = #{departmentName,jdbcType=VARCHAR}
            </if>
            <if test="outpatientDate!='' and outpatientDate!=null">
                and
                o.outpatient_date = #{outpatientDate,jdbcType=VARCHAR}
            </if>
        </where>


    </select>

    <select id="selectMyPage" resultType="com.halfsummer.sys.vo.DoctorVo">
        SELECT * FROM t_sys_outpatient ${ew.customSqlSegment}
    </select>

</mapper>
