<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="utf-8"/>
        <title>我的预约</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" href="../../css/oksub.css"/>
        <script type="text/javascript" src="../../lib/loading/okLoading.js"></script>
    </head>
</head>
<body>
<div class="ok-body">
    <!--数据表格-->
    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<!--js逻辑-->
<script src="../lib/layui/layui.js"></script>
<script th:inline="none">
    layui.use(["element", "jquery", "table", "form", "laydate", "okLayer", "okUtils", "okMock"], function () {
        let table = layui.table;
        let form = layui.form;
        let laydate = layui.laydate;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;
        let okMock = layui.okMock;
        let $ = layui.jquery;

        laydate.render({elem: "#outpatientDate", type: "datetime"});

        okLoading.close($);//关闭 加载
        let userTable = table.render({
            elem: '#tableId',
            url: okMock.api.appointList,
            limit: 20,
            page: true,
            toolbar: true,
            toolbar: "#toolbarTpl",
            size: "sm",
            cols: [[
                {field: "userName", title: "预约人名称", sort: true},
                {field: "appointDate", title: "预约日期"},
                {field: "appointStageName", title: "预约时间段"},
                {field: "outpatientDate", title: "门诊时间"},
                {field: "cancelName", title: "取消人"},
                {field: "patientType", title: "预约类型", templet: "#appintTypeTpl"},
                {field: "appointStatus", title: "预约状态", templet: "#statusTpl"},
                {title: "操作", align: "center", fixed: "right", templet: "#operationTpl"}
            ]],
            done: function (res, curr, count) {
                console.info(res, curr, count);
            }
        });

        form.on("submit(search)", function (data) {
            userTable.reload({
                where: data.field,
                page: {curr: 1}
            });
            return false;
        });


        table.on("tool(tableFilter)", function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case "appointCancel":
                    appointCancel(data);
                    break;
            }
        });

        function appointCancel(data) {
            let url = "/appoint/aCancellation";
            let type = "post";
            let params = {appointId: data.appointId};
            okUtils.ajax(url, type, params, true).done(function (result) {
                okUtils.tableSuccessMsg(result.msg);
            }).fail(function () {

            });
        }
    })
</script>

<!-- 状态模板 -->
<script type="text/html" id="statusTpl">
    {{#  if(d.appointStatus == 2){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">预约</span>
    {{#  } else if(d.appointStatus == 3) { }}
    <span class="layui-btn layui-btn-warm layui-btn-xs">诊断中</span>
    {{#  } else if(d.appointStatus == 4) {  }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">完成</span>
    {{#  } else if(d.appointStatus == 5) { }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">取消</span>
    {{#  } else if(d.appointStatus == 6) { }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">回诊</span>
    {{# } }}
</script>

<script type="text/html" id="appintTypeTpl">
    {{#  if(d.patientType == 1){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">非回诊</span>
    {{#  } else if(d.patientType == 2) { }}
    <span class="layui-btn layui-btn-warm layui-btn-xs">回诊</span>
    {{# } }}
</script>

<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
    {{#  if(d.patientType == 1 || d.patientType == 2 || d.patientType == 3 || d.patientType == 6){ }}
    <a href="javascript:" class="layui-btn layui-btn-xs" title="取消预约" lay-event="appointCancel">取消预约</a>
    {{# } }}
</script>

</body>
</html>