<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>用户列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../../css/oksub.css"/>
    <script type="text/javascript" src="../../lib/loading/okLoading.js"></script>
</head>
<body style="text-align:center">
<div class="ok-body">
    <!--<form class="layui-form">-->
        <!--<div class="layui-form-item">-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">用户id</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="tel" id="userId" name="phone" lay-verify="required" autocomplete="off"-->
                           <!--class="layui-input" disabled="disabled">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">用户姓名</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" id="userName" name="email" lay-verify="required" autocomplete="off"-->
                           <!--class="layui-input" disabled="disabled">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">用户性别</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="tel" id="userSex" name="url" lay-verify="required" autocomplete="off"-->
                           <!--class="layui-input" disabled="disabled">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="layui-form-item">-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">用户生日</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" id="birthDay" lay-verify="required" autocomplete="off" class="layui-input"-->
                           <!--disabled="disabled">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">手机号码</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="date" id="phone" lay-verify="required" autocomplete="off"-->
                           <!--class="layui-input" disabled="disabled">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">用户类型</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="tel" id="roleName" name="url" lay-verify="required" autocomplete="off"-->
                           <!--class="layui-input" disabled="disabled">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item layui-form-text" style="width: 67%; text-align:center">-->
            <!--<label class="layui-form-label">医嘱</label>-->
            <!--<div class="layui-input-block">-->
                <!--<textarea id="medicalAdvice" placeholder="请输入内容" class="layui-textarea" disabled="disabled"></textarea>-->
            <!--</div>-->
        <!--</div>-->

    <!--</form>-->
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户id</label>
            <div class="layui-input-block">
                <input type="text" name="userId" id="userId" autocomplete="off" placeholder="请输入标题" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户姓名</label>
            <div class="layui-input-block">
                <input type="text" id="userName"  name="userName" placeholder="请输入密码" autocomplete="off" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户性别</label>
            <div class="layui-input-block">
                <input type="text" id="userSex" name="userSex" placeholder="请输入密码" autocomplete="off" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户生日</label>
            <div class="layui-input-block">
                <input type="text" name="birthDay" id="birthDay" placeholder="请输入密码" autocomplete="off" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="phone" id="phone" placeholder="请输入密码" autocomplete="off" class="layui-input" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户类型</label>
            <div class="layui-input-block">
                <input type="text" name="roleName" id="roleName" placeholder="请输入密码" autocomplete="off" class="layui-input" disabled="disabled">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">文本域</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="medicalAdvice" id="medicalAdvice" disabled="disabled"></textarea>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="../lib/layui/layui.js"></script>
<script th:inline="none">
    layui.use(["element", "jquery", "table", "form", "laydate", "okLayer", "okUtils", "okMock"], function () {
        let table = layui.table;
        let form = layui.form;
        let laydate = layui.laydate;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;
        let okMock = layui.okMock;
        let $ = layui.jquery;
        getuser();
        okLoading.close($);//关闭 加载



        function getuser() {
            let url = "/doctor/getMyu";
            let type = "post";
            let params = {};
            okUtils.ajax(url, type, params, true).done(function (result) {
                $('#userId').val(result.data.userId);
                $('#userName').val(result.data.userName);
                $('#userSex').val('男');
                $('#birthDay').val(result.data.birthDay);
                $('#phone').val(result.data.phone);
                $('#roleName').val(result.data.roleName);
            }).fail(function () {

            });


        }


    })
</script>


</body>
</html>