<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>用户列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../../css/oksub.css"/>
    <script type="text/javascript" src="../../lib/loading/okLoading.js"></script>
</head>
<body>

<form class="layui-form" th:action="@{~/department/addDepartmentSubmit}" method="post">
    <input type="hidden" name="dId">
    <div class="layui-form-item">
        <label class="layui-form-label">部门名称</label>
        <div class="layui-input-inline">
            <input type="text" name="dName" class="layui-input" placeholder="请输入部门名称" required  lay-verify="required|depName">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上班时间</label>
        <div class="layui-input-inline">
            <input type="text" name="dWorktime" class="layui-input" placeholder="格式：hh:mm:ss" required  lay-verify="required|depWorktime">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <!-- 隐藏提交按钮，在父层中调用 -->
            <button id="addDepartment" class="layui-btn" lay-filter="formVerify" lay-submit style="display: none">添加</button>
        </div>
    </div>
</form>

<script>
    layui.use(['form'],function () {
        var form = layui.form;
        form.verify({
            depName: function (value,item) { //value：表单的值、item：表单的DOM对象
                if(value.length < 0){
                    return '部门名称不能为空';
                }
            },
            depWorktime: function (value,item) {
                if(value.length < 0){
                    return '请输入上班时间';
                }
                if(! new RegExp("^(([01][1-9])|(2[0-4])):[0-5][0-9]:[0-5][0-9]$").test(value)){
                    return '请按照指定格式输入';
                }
            }
        });
        // 验证成功后才会执行下面的操作
        form.on('submit(formVerify)',function (data) {
            // 提交成功后返回信息，关闭弹出层
            parent.layer.msg('操作成功',{
                icon:1,
                time: 2000
            });

            //当你在iframe页面关闭自身时
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index);

            // 刷新表格（即点击分页控件的“确定”按钮）
            parent.$('.layui-laypage-btn').click();
        });
    });
</script>

</body>
</html>